<div class="container-fluid padding-left-right-0" *ngIf="!isLoading">
    <div class="shadow p-3 mb-5 bg-body rounded">
        <nav class="navbar navbar-expand-sm navbar-light ">
            <div class="container">
                <a class="navbar-brand"  [routerLink]="['/welcome']">
                    <img src="../../assets/images/Occam_Full_Colo.svg" type="image/svg">
                </a>
                <div class="collapse navbar-collapse justify-content-end d-none d-lg-block d-xl-none"
                    id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <div class="dropdown padding-right-27">
                            <a class="nav-link active dropdown-toggle"  role="button" id="dropdownMenuLink"
                            data-bs-toggle="dropdown" aria-expanded="false">Forum</a>
                            <ul class="dropdown-menu"
                            aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" >Overview</a></li>
                            <li><a class="dropdown-item" >Career</a></li>
                        </ul>
                    </div>
                        <li class="nav-item padding-right-27">
                            <a class="nav-link" >Networking</a>
                        </li>
                        <div class="dropdown padding-right-27">
                            <a class="nav-link dropdown-toggle"  role="button" id="dropdownMenuLink"
                            data-bs-toggle="dropdown" aria-expanded="false">Resources</a>
                            <ul class="dropdown-menu"
                            aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" >Testimonial</a></li>
                            <li><a class="dropdown-item" >Clients</a></li>
                           
                        </ul>
                    </div>
                        <li class="nav-item padding-right-27">
                            <a class="nav-link" >Help</a>
                        </li>
                        <div class="dropdown padding-right-27">
                            <div id="dropdownMenuLink"
                            data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="../../assets/images/profile-icon.svg" type="image/svg" width="40" height="40" 
                                class="rounded-circle" >
                                <img src="../../assets/images/bullet.svg" type="image/svg" class="bullet-style">
                            </div>
                            <ul class="dropdown-menu"
                            aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" [routerLink]="['/profile']">Profile</a></li>
                            <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
                        </ul>
                    </div>

                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>