$white : #fff;
$text-transform: uppercase;
$font-family: Canela-Medium;
$background: #f2f2f2;
$padding-left: 0rem;

.padding-right-27 {
padding-right: 27px;
}
.nav-link {
    text-transform: uppercase;
}
.padding-left-0rem {
    padding-left: $padding-left !important;
}
.container {
    background: $white;

    .navbar-nav {
        .nav-item {
            text-transform: uppercase;

            .dropdown-content a {
                float: none;
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
            }

            .dropdown-content a:hover {
                background-color: #ddd;
            }

            .dropdown:hover .dropdown-content {
                display: block;
            }
        }
    }
}

.navbar > .container {
    justify-content: center !important;
}
.row , .row > *{
    margin-left: 0px;
    margin-right: 0px;
}

.bullet-style {
	position: relative;
    right: 10px;
    top: 10px;
}
.mobile-bottom-nav{
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	z-index:1000;
	
	//give nav it's own compsite layer
	will-change:transform;
	transform: translateZ(0);
	
	display:flex;	
	
	height:50px;
	
	box-shadow: 0 -2px 5px -2px #333;
	background-color:#fff;
	
	&__item{
		flex-grow:1;
		text-align:center;
		font-size:12px;
		
		display:flex;
		flex-direction:column;
		justify-content:center;
	}
	&__item--active{
		//dev
		color:red;
	}
	&__item-content{ 
		display:flex;
		flex-direction:column;		
	}
}
@media screen and (min-width: 576px) and (max-width: 767px) {
	.navbar-expand-sm .navbar-collapse
	{
		display: none !important;
	}
	.padding-right-27 {
		padding-right: 0px !important;
	}
}