<div id="footer" class="d-none d-lg-block d-md-block d-sm-none" *ngIf="!isLoading">
  
    <div class="container-fluid bottom mt-auto">
        <div class="container bottom padding-left-0rem">
        <div class="container padding-left-0rem container-display-mobile">
            <div class="left-footer-link">
                <ul class="left-footer-menu mobile-display">
                    <li>Programme</li>
                    <li>Speakers</li>
                    <li>About</li>
                </ul>
                <ul class="left-footer-menu mobile-display">
                    <li>Networking</li>
                    <li>Resources</li>
                    <li>Video on demand</li>
                    <li>Downloads</li>
                </ul>
                <ul class="left-footer-menu mobile-display">
                    <li>Help</li>
                </ul>
            </div>
            <div class="right-footer-link">
                <p class="padding-left-30">Connect with us</p>
                <ul class="social-icons">
                    <li><span class="social-icon social-youtube"><i
                                class="fa fa-youtube-play"></i></span></li>
                    <li><span class="social-icon social-linkedin"><i
                                class="fa fa-linkedin"></i></span></li>
                    <li><span class="social-icon social-instagram"><i
                                class="fa fa-instagram"></i></span></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="copyright-content copyright-content-mobile">
            <ul>
                <li>Privacy Statement |&nbsp;</li>
                <li>Cookie Policy</li>
            </ul>
            <p>©2021 The Occam Lab Private Limited. All Rights Reserved</p>
        </div>
    </div>
    </div>
  </div>
      <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="text-align-center margin-bottom-0 font-size-26">MENU</p>
        <ul class="navbar-nav ul-style-type text-align-center">
            <div class="dropdown">
                <a class="nav-link active dropdown-toggle padding-top-51 padding-bottom-18 font-size-18" href="#" role="button" id="dropdownMenuLink"
                data-bs-toggle="dropdown" aria-expanded="false">Forum</a>
                <ul class="dropdown-menu"
                aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another
                        action</a></li>
                <li><a class="dropdown-item" href="#">Something
                        else
                        here</a></li>
            </ul>
        </div>
          
            
            <div class="dropdown">
                <a class="nav-link dropdown-toggle padding-top-12 padding-bottom-18 font-size-18" href="#" role="button" id="dropdownMenuLink"
                data-bs-toggle="dropdown" aria-expanded="false">Resources</a>
                <ul class="dropdown-menu"
                aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item font-size-18" href="#">Action</a></li>
                <li><a class="dropdown-item font-size-18" href="#">Another
                        action</a></li>
                <li><a class="dropdown-item font-size-18" href="#">Something
                        else
                        here</a></li>
            </ul>
        </div>
            <li class="nav-item">
                <a class="nav-link padding-top-12 padding-bottom-18" href="#">Help</a>
            </li>
            <li class="nav-item">
                <a class="nav-link padding-top-12 padding-bottom-18" href="#">Logout</a>
            </li>
        </ul>

        <div class="padding-top-134">
            <p class="text-align-center font-size-14">Connect with us</p>
            <ul class="ul-style-type justify-content-center">
                <li class="margin-right-20"><span class="social-icon social-youtube"><i
                            class="fa fa-youtube-play"></i></span></li>
                <li class="margin-right-20"><span class="social-icon social-linkedin"><i
                            class="fa fa-linkedin"></i></span></li>
                <li><span class="social-icon social-instagram"><i
                            class="fa fa-instagram"></i></span></li>
            </ul>
        </div>
<hr>
        <div class="">
            <ul class="ul-style-type justify-content-center">
                <li class="font-size-12">Privacy Statement |&nbsp;</li>
                <li class="font-size-12">Cookie Policy</li>
            </ul>
            <p class="font-size-12 text-align-center">©2021 The Occam Lab Private Limited. All Rights Reserved</p>
        </div>

      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
      <nav class="navbar  mobile-bottom-nav d-block d-sm-block d-md-none" *ngIf="!isLoading">
        <div class="container-fluid">
            <div class="mobile-bottom-nav__item">
                <div class="mobile-bottom-nav__item-content">
                   <img src="../../assets/images/home-icon.svg" type="image/svg" class="width-height-22">
                    Home
                </div>		
            </div>
            <div class="mobile-bottom-nav__item">		
                <div class="mobile-bottom-nav__item-content">
                    <img src="../../assets/images/calendar-icon.svg" type="image/svg" class="width-height-22">
                    Programme
                </div>
            </div>
            <div class="mobile-bottom-nav__item">
                <div class="mobile-bottom-nav__item-content">
                    <img src="../../assets/images/network-icon.svg" type="image/svg" [routerLink]="['/profile']" class="width-height-22">
                    Network
                </div>		
            </div>
            
            <div class="mobile-bottom-nav__item">
                <div class="mobile-bottom-nav__item-content">
                    <img src="../../assets/images/message-icon.svg" type="image/svg" class="width-height-22">
                    Message
                </div>		
            </div>
          <button class="navbar-toggler" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>