
$white : #fff;
$text-transform: uppercase;
$font-family: Canela-Medium;
$background: #f2f2f2;
$padding-left: 0rem;
$display-block: block;
$padding-left-0rem: 0rem;
.bottom {
    background: $background;
    margin-top: 108px;
}

    .padding-left-0rem {
        padding-left: $padding-left-0rem;
    }

    .left-footer-link {
        float: left;
        padding-top:1rem !important;    
        ul.left-footer-menu {
            list-style-type: none;
            display: flex;
            padding-left: 0rem !important;
            li {
                margin: 0px 7px 0px 0px;
                text-transform: $text-transform;

            }
        }
    }

    .right-footer-link {
        float: right;
        padding-top: 1rem !important;
    }

    ul.social-icons {
        list-style-type: none;
        display: flex;

        li {
            margin: 0 5px;
        }
    }


hr {
    border-bottom: 2px solid #a3a3a3;
    width: 100%;
    border-top: 0px !important;
    fill: rgba(0, 0, 0, 0);
}
.copyright-content {
    display: block;
    height: auto;
    min-height: 100px;

    ul {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;

        li {}
    }

    p {
        float: right;
    }
}

@media screen and (max-width:767px) {

    .mobile-display {
        display: $display-block !important;
    }

   .copyright-content-mobile {
    ul {
    justify-content: flex-start;
    padding-left: 0rem;
    }

    .container-display-mobile {
        display: contents !important;
    }
   }
}