
    <div class="container-fluid bottom">
        <div class="container bottom padding-left-0rem">
        <div class="container padding-left-0rem container-display-mobile">
            <div class="left-footer-link">
                <ul class="left-footer-menu mobile-display">
                    <li>Programme</li>
                    <li>Speakers</li>
                    <li>About</li>
                </ul>
                <ul class="left-footer-menu mobile-display">
                    <li>Networking</li>
                    <li>Resources</li>
                    <li>Video on demand</li>
                    <li>Downloads</li>
                </ul>
                <ul class="left-footer-menu mobile-display">
                    <li>Help</li>
                </ul>
            </div>
            <div class="right-footer-link">
                <p>Connect with us</p>
                <ul class="social-icons">
                    <li><span class="social-icon social-youtube"><i
                                class="fa fa-youtube-play"></i></span></li>
                    <li><span class="social-icon social-linkedin"><i
                                class="fa fa-linkedin"></i></span></li>
                    <li><span class="social-icon social-instagram"><i
                                class="fa fa-instagram"></i></span></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="copyright-content copyright-content-mobile">
            <ul>
                <li>Privacy Statement |&nbsp;</li>
                <li>Cookie Policy</li>
            </ul>
            <p>©2021 The Occam Lab Private Limited. All Rights Reserved</p>
        </div>
    </div>
    </div>
    