$text-transform: uppercase;
$padding-left: 0rem;
$margin-bottom-32: 32px;
$padding-left-35: 35px;
$width-474: 474px;
$margin-bottom-108: 108px;
$color-1c3c34: #1c3c34;
.margin-bottom-108 {
    margin-bottom: $margin-bottom-108;
}

.padding-left-35 {
    padding-left: $padding-left-35;
}

.padding-left-0rem {
    padding-left: $padding-left !important;
}

.width-474 {
    width: $width-474;
}

.margin-bottom-32 {
    margin-bottom: $margin-bottom-32;
}

.welcome-content {
    border-left: 19px solid $color-1c3c34;
    border-right: 19px solid $color-1c3c34;
    fill: $color-1c3c34;

    .border-left {
        border-right: 7px solid $color-1c3c34;
    }

    .welcome-flower {
        .opacity-25 {
            opacity: 0.25;
            width: -webkit-fill-available;
            height: 390px;
        }

        border-left: 7px solid $color-1c3c34;
        border-right: 4px solid $color-1c3c34;

        .border-right-min-width {
            border-left: 4px solid $color-1c3c34;
            // float: right;
            // height: 323px;
            transform: translate(-10px, 0px);
        }

        .border-right-width-7 {
            border-left: 7px solid $color-1c3c34;
            float: right;
            height: 323px;
            transform: translate(10px, 0px);
        }
    }
}

@media screen and (max-width:767px) {
    .row>* {
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .border-left {
        flex-direction: column-reverse;
        display: flex;
    }

    .width-474 {
        width: auto;
    }

    .opacity-25 {
        height: auto !important;
        width: 100%;
    }

    .welcome-content {
        border-right: 0px;
        border-left: 0px;
        margin: 0px;

        .welcome-flower {
            border-top: 13px solid $color-1c3c34;
            border-bottom: 5px solid $color-1c3c34;
            border-left: 0px;
            border-right: 0px;
            margin-bottom: 49px;
        }
    }

    .border-left {
        margin-bottom: 10px;
        border-right: 0px !important;
    }

    .border-bottom-mobile {
        border-bottom: 5px solid $color-1c3c34;
    }

    .final-border-bottom {
        width: auto;
        height: 15px;
        margin-top: 15px;
        border-bottom: 13px solid $color-1c3c34;
    }

    .mobile-border-bottom-3 {
        border-bottom: 3px solid $color-1c3c34;
    }

    .break {
        width: 100%;
        margin: 15px 0px 40px 0px;
        border-bottom: 5px solid $color-1c3c34;
    }

    .break-bottom {
        width: 100%;
        border-bottom: 13px solid $color-1c3c34;
    }
}