<div class="container margin-bottom-108" *ngIf="!isLoading">
    <div class="row welcome-content" ngClass.xs="welcome-content">
        <div class="border-left row" ngClass.xs="border-left">
            <div class="col-lg-6 col-xs-12 mobile-border-bottom-3">
                <h1 class="margin-bottom-32 padding-left-35">Welcome</h1>

                <h2 class="margin-bottom-32 padding-left-35">Zheng Jie Ng,</h2>
                <p class="margin-bottom-32 width-474 padding-left-35">To
                    commemorate Occam Labs’s 400th Anniversary, we are
                    convening leaders of our most important partners,
                    investee companies and counterparties globally at a special
                    edition of The Occam Conference.</p>

                <p class="width-474 padding-left-35">With the theme, Towards a
                    Ecological Future, the forum will
                    seek perspectives from global thought leaders on the
                    pertinent
                    sustainability trends and initiatives that are needed to
                    build a more resilient and equitable future.</p>
            </div>
            <div class="col-lg-6 col-xs-12 welcome-flower">
                <img class="opacity-25"
                    src="../../assets/images/welcome-flower.png">
            </div>
        </div>
    </div>
    <!-- border for mobile screen -->
    <div>
        <div class="break"></div>
        <div class="break-bottom"></div>
    </div>
</div>
