<div class="container margin-bottom-48 d-flex align-items-center
    justify-content-center">
    <div class="text-styles width-30">
        <div>
            <slim [options]="slimOptions">
                <input type="file" id="fileUpload"
                    (change)="uploadFile($event)">
            </slim>
        </div>
        <div class="d-flex justify-content-center" class="uploading-bg"
            *ngIf="isLoading">
            <p class="uploading-text">Uploading</p>

            <div class="jumping-dots-loader">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <p>To replace an existing profile photo, delete it and upload a new
            photo.
            Click Save after to update your profile.</p>
        <p>Supported file format: JPG; <span *ngIf="maximumFileSize"
                class="maximum-file-size"> {{ maximumFileSize }} </span></p>
        <p class="success-uploaded" *ngIf="uploadedDone">File is Uploaded
            Successfully!</p>
        <div>
            <a  class="badge badge-light anchor-style">Cancel</a>
            <button type="button" class="btn btn-primary save-button"
                (click)="saveImage()" [disabled]="isDisabled">Save</button>
        </div>
        <div>
            <h2 class="font-size-16">Sarah Patricia Sarahson</h2>
            <h3 class="font-color-3c3c40">SVP, Occam Lab Pte Ltd</h3>
        </div>
        <div class="margin-top-46">
            <h2 class="font-size-18">ACCOUNT SETTINGS</h2>
            <h3 class="margin-top-21 font-size-14 margin-bottom-6">EMAIL ADDRESS</h3>
            <h4>Sarah.Patricia@tlf.com</h4>
            <h5 class="font-size-14">TIME ZONE</h5>
            <h6 class="font-size-16">(UTC+08:00) Kuala Lumpur, Canada</h6>
            <a  class="anchor-style">Edit</a>
        </div>
        <h3 class="font-size-14 margin-top-32">Visibility</h3>
        <label class="form-check-label italic-style"
            for="flexSwitchCheckChecked">You are
            currently not visible to other attendees.</label>
        <div class="material-switch ">
            <input id="someSwitchOptionDefault" name="someSwitchOption001"
                type="checkbox"/>
            <label for="someSwitchOptionDefault" class="label-default"></label>
        </div>
    </div>
</div>
