
<app-header></app-header>

<div class="container width-450">

    <!-- Form starts -->
    <!-- <form [formGroup]="registrationForm" >

        <div class="group-gap">

          
            <div class="avatar-upload" (click)="fileInput.click()">
                <div class="avatar-edit">
                    <input type='file' id="imageUpload" accept=".png, .jpg,
                        .jpeg"
                        #fileInput (change)="uploadFile($event)" />
                </div>
                <div class="avatar-preview">
                    <div id="imagePreview"
                        [style.backgroundImage]="'url('+ imageUrl +')'">
                    </div>
                    <p class="drop-image" *ngIf="dropDownText">Drop your image</p>
                    <img src="../../assets/images/edit.png" style="background: red;">
                    <img src="../../assets/images/bin.png" style="background: red;">
                </div>
            </div>
        </div>

       
    </form> -->
    <!-- Form ends -->

    <slim [options]="slimOptions">
        <input type="file" name="foo">
    </slim>
    <p>To replace an existing profile photo, delete it and upload a new photo.
        Click Save after to update your profile.</p>

    <p>Supported file format: JPG; Maximum file size: 2MB</p>
    <div>

        <a href="#" class="badge badge-light anchor-style">Cancel</a>
        <button type="button" class="btn btn-primary save-button"
            (click)="saveImage()">Save</button>
    </div>
    <div>
        <h2 class="font-size-16">Sarah Patricia Sarahson</h2>
        <h3 class="font-color-3c3c40">SVP, Occam Lab Pte Ltd</h3>
    </div>

    <div class="margin-top-46">
        <h2 class="font-size-18">ACCOUNT SETTINGS</h2>
        <h3 class="margin-top-21 margin-bottom-6">EMAIL ADDRESS</h3>
        <h4>Sarah.Patricia@tlf.com</h4>
        <h5 class="font-size-14">TIME ZONE</h5>
        <h6 class="font-size-16">(UTC+08:00) Kuala Lumpur, Canada</h6>
        <a href="#" class="anchor-style">Edit</a>
    </div>
    <h3 class="font-size-14 margin-top-32">Visibility</h3>
    <label class="form-check-label" for="flexSwitchCheckChecked">You are
        currently not visible to other attendees.</label>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox"
            id="flexSwitchCheckChecked">
    </div>
</div>
<app-footer></app-footer>
